<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709314346120-tlcjsamk0j3r0j152fi4tjeuh6444k0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709314346120-tlcjsamk0j3r0j152fi4tjeuh6444k0n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>709314346120-h9lhn8uivkssol2sfjsoj8bv2u94lv1p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDV_AawMtatFi4sRU5ghZb2wtIXHc0GfYk</string>
	<key>GCM_SENDER_ID</key>
	<string>709314346120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartBidonville</string>
	<key>PROJECT_ID</key>
	<string>smart-bidonville</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-bidonville.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709314346120:ios:c9a78d5fcfc7a87dd9b33d</string>
</dict>
</plist>